---
layout: default
title: Typical Technological Trickery
---

<div id="home">

    <!-- site is {{ site.url }} -->
    {% for post in site.posts %}
    <article>
        <header>
            <h4><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
        </header>
        <div class="entry">
            {% if post.custom_excerpt %}
            {{ post.custom_excerpt }}
            {% else %}
            {{ post.excerpt }}
            {% endif %}
        </div>
    </article>
    {% endfor %}

</div>
