<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Normaliser CSS (makes things look the same on all browsers, this
         has to go first. -->
    <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

    <!-- Main CSS file -->
    <link rel="stylesheet" href="{{ site.url }}/css/styles.css">

  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 class="title"><a href="{{site.url}}/">
            {{ site.name }}</a></h1>
      </header>
    </div>

    <div class="flex-container">

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                {{ content }}
            </section>
        </div>

        <!-- Dummy block to center main content -->
        <div class="flex-dummy"></div>

        <nav>
            <h3> Work </h3>

            I work on building affordable financial infrastructure for
            sub-Saharan Africa at <a href="https://www.wave.com/en/">Wave mobile
            money</a>.

            <h3> Emacs Projects </h3>
            <ul class="projects-list">
                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/electric-operator">electric-operator</a>
                    </div>
                    Insert spacing around operators as you type
                </li>
                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/terminal-here"> terminal-here</a>
                    </div>
                    Open a terminal emulator in a file's directory
                </li>
                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/frames-only-mode">frames-only-mode</a>
                    </div>
                    Play nicely with tiling window managers
                </li>
                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/aggressive-fill-paragraph-mode">aggressive-fill-paragraph-mode</a>
                    </div>
                    Autofill paragraphs as you type
                </li>

                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/fill-function-arguments">fill-function-arguments</a>
                    </div>
                    Line wrap/unwrap function arguments
                </li>

                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/emacs-read-stdin">emacs-read-stdin</a>
                    </div>
                    An alias that can read from stdin
                </li>
            </ul>

            <h3> Other Projects </h3>
            <ul class="projects-list">
                <li class="project">
                    <div class="project-name">
                        <a href="https://github.com/davidshepherd7/ankicli">ankicli</a>
                    </div> Command line interface for <a href="https://en.wikipedia.org/wiki/Anki_(software)">Anki</a>
                </li>
                <li class="project">
                    <div class="project-name">
                        <a href="/polish-generator.html">polish-nonsense</a>
                    </div> Generate grammatically correct Polish
                </li>
            </ul>


            <h3> Etc </h3>
            <p>
                <a href="https://github.com/davidshepherd7"><img src="GitHub-Mark-32px.png"></a>
                <a href="{{site.url}}/feed.xml"><img src="rss.png"></a>
            </p>
            <ul class="projects-list">
                <li><a href="{{site.url}}/about.html">About me</a></li>
            </ul>

        </nav>
    </div>

  </body>
</html>
